
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>使用协议 - USC日常</title>
    <style>
    body {
        font: 13px/22px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    }
    h1 {
        font-size: 2em;
        text-align: center;
    }
    p, li {
        margin-bottom: 1em;
    }
    ul, ol {
        margin-left: 2em;
        padding: 0;
    }
    </style>
</head>
<body>

<h1>USC日常用户使用协议</h1>
<p>欢迎使用USC日常！</p>
<p>
请您仔细阅读以下条款，如果您对本协议的任何条款表示异议，请立刻停止注册使用USC日常，否则表示您完全接受本协议项下的全部条款。
</p>
<div id="section-rule" data-section="sec-rule">
<a name="sec-rule" class="zg-anchor-hidden"></a>
<h2>使用规则</h2>
<ol>
<li>用户需要使用自己的USC邮箱注册，注册成功后用户可以使用自己的USC邮箱和设定的密码进行登录。用户应当对自己使用USC日常过程中的一切行为负法律责任。</li>
<li>用户须保证自己注册过程中信息的真实性，不得冒用别人的邮箱进行注册。</li>
<li>用户在USC日常上发布的微活动为公开内容，如果用户不希望微活动内容公开，请不要在USC日常上发布。</li>
<li>用户承诺不得以任何方式利用USC日常直接或间接从事违反中国法律以及社会公德的行为，USC日常有权对违反上述承诺的内容予以删除。</li>
<li>
<p>用户不得利用USC日常发布以下内容：</p>
<ul>
<li>违反宪法确定的基本原则的；</li>
<li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
<li>损害国家荣誉和利益的；</li>
<li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
<li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
<li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
<li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
<li>侮辱或者诽谤他人，侵害他人合法权益的；</li>
<li>煽动非法集会、结社、游行、示威、聚众扰乱社会秩序；</li>
<li>以非法民间组织名义活动的；</li>
<li>含有法律、行政法规禁止的其他内容的信息。</li>
</ul>
</li>
</ol>
</div>
<div id="section-privacy" data-section="sec-privacy">
<a name="sec-privacy" class="zg-anchor-hidden"></a>
<h2>个人隐私</h2>
<p>USC日常尊重用户个人隐私，并将通过技术手段充分保护用户的个人隐私信息。除法律或有法律赋予权限的政府部门要求或事先得到用户明确授权等原因外，USC日常保证不对外公开或向第三方透露用户个人隐私信息，或用户在使用服务时存储的非公开内容。用户的活动历史默认对其他用户开放，如果用户不希望自己的活动历史开放，可以在个人设置中修改。</p>
</div>
<div id="section-impunity" data-section="sec-impunity">
<a name="sec-impunity" class="zg-anchor-hidden"></a>
<h2>免责申明</h2>
<ol>
<li>USC日常是一个微活动的发布平台，基于互联网的虚拟特性，USC日常无法对微活动的真实性负责。</li>
<li>您在参加微活动前，请自行认真核实其合法性、真实性、完整性以及发布者的真实身份，参加微活动时，请注意保护自己的人身财产安全。USC日常不对微活动参与者的人身和财产损失承担任何责任。</li>
<li>USC日常不保证网络服务一定能满足用户的要求，也不保证网络服务不会中断，对网络服务的及时性、安全性、准确性也都不作保证。</li>
<li>对于因不可抗力或USC日常不能控制的原因造成的网络服务中断或其它缺陷，USC日常不承担任何责任，但将尽力减少因此而给用户造成的损失和影响。</li>
</ol>
</div>
<div id="section-modification" data-section="sec-modification">
<a name="sec-modification" class="zg-anchor-hidden"></a>
<h2>协议修改</h2>
<ol>
<li>根据互联网的发展和有关法律、法规及规范性文件的变化，或者因业务发展需要，USC日常有权对本协议的条款作出修改或变更，一旦本协议的内容发生变动，USC日常将会直接在USC日常网站上公布修改之后的协议内容，该公布行为视为USC日常已经通知用户修改内容。</li>
<li>如果不同意USC日常对本协议相关条款所做的修改，用户有权并应当停止使用USC日常。如果用户继续使用USC日常，则视为用户接受USC日常对本协议相关条款所做的修改。</li>
</ol>
</div>
</body>
</html>
