<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="日常, 微活动, 日常, 智能社交, USC, UCLA, 狼人杀, 留学,中国城,hiking,大华,洛杉矶">
    <meta name="description" content="USC日常是专为留学生打造的基于微活动的智能社交平台">
    <title>USC日常</title>
    <style>
    html, body {
        background-color: rgb(255, 252, 0);
        font: 13px/22px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    }
    h3 {
        text-align: center;
        color: black;
    }
    a {
        text-decoration: none;
    }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="/static/js/uscfun.js"></script>
</head>
<body>
    <div data-role="page" id="article1">
        <!-- <div><a target="" href="agreement" style="position: absolute; right: 10px; bottom: 10px; color: grey; font-size:17px;">使用协议</a></div> -->
        <div style="height: 100px;"></div>
        <div>
            <img style="width: 60px; height: 60px; display: block; margin: 0 auto;" src="/static/images/blackfish.svg"/>
            <h3>bring people together</h3>
        </div>
        <div style="width: 360px; height: 66px; margin: auto;">
            <a  target="_blank" href="https://itunes.apple.com/us/app/id1073401869">
                <img style="width: 360px; height: 66px;" src="/static/images/appstore.svg"/>
            </a>
        </div>
    </div>
    <div data-role="page" id="article2">
        <div data-role="content">
            <img style="height: 500px; display: block; margin: auto;" src="/static/images/WechatIMG4.jpeg"/>
        </div>
    </div>
    <div data-role="page" id="article3">
        <div data-role="content">
            <img style="height: 500px; display: block; margin: auto;" src="/static/images/WechatIMG5.jpeg"/>
        </div>
    </div>
</body>
<html>
