<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="keywords" content="USC日常, 微活动, 日常, 智能社交, USC, UCLA, 狼人杀, 留学">
    <meta name="description" content="基于微活动的智能社交平台">
    <title>USC日常</title>
    <style>
    html, body {
        background-color: rgb(255, 252, 0);
        font: 13px/22px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    }
    h3 {
        text-align: center;
        color: black;
    }
    a {
        text-decoration: none;
    }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div style="height: 100px;"></div>
    <div>
        <img style="width: 60px; height: 60px; display: block; margin: 0 auto;" src="/static/images/blackfish.svg"/>
        <h3>USC日常-南加州大学中国留学生微活动发布平台</h3>
    </div>
    <div style="width: 360px; height: 66px; margin: auto;">
        <a  target="_blank" href="https://itunes.apple.com/us/app/id1073401869">
            <img style="width: 360px; height: 66px;" src="/static/images/appstore.svg"/>
        </a>
    </div>
</body>
<html>
