
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>信用体系说明 - USC日常</title>
    <style>
    body {
        font: 13px/22px 'Helvetica Neue', Helvetica, Arial, Sans-serif;
    }
    h1 {
        font-size: 2em;
        text-align: center;
    }
    p, li {
        margin-bottom: 1em;
    }
    ul, ol {
        margin-left: 2em;
        padding: 0;
    }
    </style>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

<h1>USC日常用户信用体系说明</h1>
<p> USC日常致力于为南加大中国留学生提供一个围绕微活动的线下社交平台。为了维护良好的社区氛围，USC日常会根据用户发起或参与微活动的行为为每位用户建立信用档案。每次微活动完结后，队员可以互相评价打分。分值为一星到五星之间，其中<b>一星针对的是无故爽约行为</b>，如果用户参加的活动约定成功后，用户在没有跟队友有任何沟通的情况下，无故爽约，队员应该给予该用户一星的评价。我们鼓励用户在无法参加约定成功的微活动时，及时地告知其他队友。
</p>
<div id="section-initial-value" data-section="sec-initial-value">
<a name="sec-initial-value" class="zg-anchor-hidden"></a>
<h2>默认初始信用值</h2>
<p>每个用户的默认初始信用值为2.5颗星。</p>
</div>
<div id="section-method" data-section="sec-method">
<a name="sec-method" class="zg-anchor-hidden"></a>
<h2>信用累计办法【试用】</h2>
<p> 每次用户发起或参加活动成功完成后都可以获得相应的信用分。等到积累到一定数据后，系统会根据活动历史记录，计算出相应的信用等级。为了鼓励用户积极发起活动，每次活动完成后，发起人将会得到额外信用奖励。
</p>
</div>
<div id="section-penalty" data-section="sec-penalty">
<a name="sec-penalty" class="zg-anchor-hidden"></a>
<h2>信用体系的用途</h2>
<p> 等到数据积累到一定程度后，在未来的版本中，用户发起微活动时，可以设定只允许信用值超过一定范围的用户才可以参加。
</p>
</div>
</body>
</html>
